@*@model AccountDeleteViewModel*@

<h2>Hesabınızı Silmek İstediğinizden Emin Misiniz?</h2>

<form asp-action="DeleteConfirmed" method="post">
    <button type="submit" class="btn btn-danger">Hesabımı Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>