@using _777.Data.Entities;
@model TextApp


<!-- container start -->
<div class="main">
    <div class="container">
        <a type="hidden" style="width:0;height:0;" id="gizli" href=""> </a>

        @{
            int a = _777.Core.Helper.CountText(Model.Content);

        }
        <p>Bu metnin olumluluk skoru: @Model.SentimentScore.ToString() </p>

        <!-- calender START -->
        <div class="calendar">
            <!-- calendarTop start -->
            <div class="calendarTop">

                <ul class="days">
                    <li class="day">P</li>
                    <li class="day">S</li>
                    <li class="day">Ç</li>
                    <li class="day">P</li>
                    <li class="day">C</li>
                    <li class="day">C</li>
                    <li class="day">P</li>
                </ul>

                <ul class="dates">
                </ul>

            </div>
            <!-- calendarTop end -->
            <!-- calendarBottom start -->
            <div class="calendarBottom">
                <button class="prevBtn" onclick="prevMonth()">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>

                <span class="currentMonthYear"></span>

                <button class="nextBtn" onclick="nextMonth()">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
            <!-- calendarBottom end -->

        </div>
        <!-- calender END -->
    </div>
    <!-- container end -->
    <!-- container start -->
    <div class="container">

        <!-- writingArea START -->
        <div class="writingArea">
            <fieldset>

                <legend id="sayı">@a</legend>

                <textarea name="text" readonly id="text" oninput="countWords()">@Model.Content</textarea>

            </fieldset>
        </div>
        <!-- writingArea END -->
    </div>
</div>
<!-- container end -->
<!-- ------main END------ -->
