@using Microsoft.AspNetCore.Identity
@using _777.Data.Entities;
@inject SignInManager<UserApp> SignInManager
@inject UserManager<UserApp> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/takvim.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/preloader.css" />
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/detay.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/detay.css">



</head>
<body>
    <header>
        <div class="navbar">
            <a href="/">777</a>
            <ul class="navbarLinks">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a href="/" class="navbar-button"><i class="fa-solid fa-house"></i>Anasayfa</a></li>
                    <li><a href="/user/profile/" class="navbar-button"><i class="fa-solid fa-user"></i>Profilim</a></li>
                    <li><a href="/user/account/" class="navbar-button acctive">Hesabım</a></li>
                    <li><a href="#" class="navbar-button">Sıkça Sorulan Sorular</a></li>
                    //<li><a href="#" class="navbar-button">Blog</a></li>
                    <li>
                        <form class="navbar-button" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit">Çıkış Yap</button>
                        </form>
                    </li>
                }
                else
                {
                    <li><a href="/" class="navbar-button"><i class="fa-solid fa-house"></i>Anasayfa</a></li>
                    <li><a href="#" class="navbar-button">Sıkça Sorulan Sorular</a></li>
                    //<li><a href="#" class="navbar-button">Blog</a></li>
                    <li><a href="/Identity/Account/Login" class="navbar-button">Giriş Yap</a></li>
                    <li><a href="/Identity/Account/Register" class="navbar-button">Kayıt Ol</a></li>
                }
            </ul>
            <a href="/user/Write" class="btn">
                <i class="fa-solid fa-feather"></i>
                Yazmaya Başla!
            </a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/index.min.js"></script>
    <script src="/js/takvim.js"></script>
    <script src="/js/write.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

