@import url('reset.css');

:root {
    --color-primary: rgb(244,208,63);
    --color-primary-light: rgba(244,208,62,0.8);
    --color-secondry: rgb(22,160,133);
    --color-secondry-light: rgba(22,160,132,0.7);
    --color-gray: rgb(240, 240, 240);
    --color-green: rgb(0, 145, 116);
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*--------- header START ------------*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255,255,255,0.8);
}

.navbarLinks {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbarLinks li {
    padding: 5px;
}

/* NAVBAR BUTTON START */

.navbar-button {
    border: none;
    padding: 1em 1.5em;
    color: #000;
    position: relative;
    display: inline-block;
  }

.navbar-button i {
    padding-right: 10px;
}
  
.navbar-button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: .5s ease;
}
  
.navbar-button:hover::before {
    width: 100%;
}

.navbar-active::before {
    transition: 0s;
}

.navbar-active:hover::before{
    width: 0;
}

.navbar-active {
    border-bottom: 2px solid #ffc506;
}
/* NAVBAR BUTTON END */

.btn {
    color: #560bad;
    display: inline-block;
    padding: 5px;
    position: relative;
    overflow: hidden;
    border: 2px solid #560bad;
    transition: color .5s;
    z-index: 1;
    border-radius: 6px;
    
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #560bad;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.btn:hover {
    color: #fff;
}

.btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.btn:hover:before {
    top: -30px;
    left: -30px;
}

.btn:active:before {
    background: #3a0ca3;
}
/*--------- header END ---------*/


.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 5%;
    height: calc(100vh - 106px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    height: 500px;
    width: 500px;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.2);
}

.calendarTop {
    height: 92%;
}

.calendarTop .days {
    height: 8%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.calendar .days .day {
    height: 100%;
    text-align: center;
    color: var(--color-secondry);
    font-weight: bold;
}

.calendarTop .dates {
    height: 92%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 6px;
    user-select: none;
}

.calendarTop .dates .date {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: var(--color-gray);
    font-size: 14px;
    animation: dateAppear 0.3s ease-in-out forwards;
    cursor: pointer;
}

.calendarTop .dates .date.current {
    background-color: var(--color-secondry-light);
    color: #fff;
}

.calendarTop .dates .date.current.today {
    background-color: var(--color-primary-light);
}

.calendarTop .dates .date.complated {
    font-size: 20px;
    color: #fff;
    background-color: var(--color-green);
}

.calendarBottom {
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendarBottom .prevBtn,
.calendarBottom .nextBtn {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-primary-light);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.calendarBottom .prevBtn:hover,
.calendarBottom .nextBtn:hover {
    background-color: var(--color-primary);
}

.calendarBottom .prevBtn:active,
.calendarBottom .nextBtn:active {
    transform: scale(1.4);
}

.calendarBottom .currentMonthYear {
    font-size: 18px;
    color: var(--color-secondry);
    font-weight: bold;
}




/* -----------writingArea START----------- */
.writingArea {
    width: 90%;
    height: 600px;
}

.writingArea fieldset {
    height: 600px;
    padding: 10px;
    position: relative;
}

.writingArea legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    margin-left: 20px;

}

.writingArea textarea {
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.writingArea .btn {
    position: absolute;
    bottom: -15px;
    right: 15px;
    padding: 5px 10px;
}

@keyframes dateAppear {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .calendar {
        height: 70vw;
        width: 70vw;
        padding: 10px;
    }

    .calendarTop .days .day {
        font-size: 14px;
    }

    .calendarTop .dates {
        gap: 3px;
    }

    .calendarBottom .prevBtn,
    .calendarBottom .nextBtn {
        width: 24px;
        height: 24px;
        font-size: 8px;
    }

    .calendarBottom .currentMonthYear {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .calendar {
        height: 90vw;
        width: 90vw;
        padding: 6px;
    }

    .calendarTop .dates {
        gap: 2px;
    }

}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-gray);
    width: 450px;
    height: 350px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1), 0 0 0 1000px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

    .popup.active {
        visibility: visible;
    }

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: #f00;
    color: #fff;
    cursor: pointer;
}

#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    visibility: hidden;
    pointer-events: none;
}

    #my-canvas.active {
        visibility: visible;
    }