@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>

    <!-- loginPage START -->
    <section class="loginPage">
        <div class="formBox">

            <form asp-action="login" asp-controller="account" autocomplete="off">

                <h2>Login</h2>

                <div class="inputBox">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" name="Email" required>
                    <label for="email">Email</label>
                </div>

                <div class="inputBox">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="Password" required>
                    <label for="password">Password</label>
                </div>

                <div class="forget">
                    <label for=""><input value="true" name="RememberMe" type="checkbox">Remember Me  <a href="/Identity/Account/ForgotPassword">Forget Password</a></label>
                </div>

                <button type="submit">Log in</button>

                <div class="register">
                    <p>Don't have a account <a href="/Identity/Account/Register">Register</a></p>
                </div>

            </form>

        </div>
    </section>
    <!-- loginPage END -->

</body>
</html>