@page
@model RegisterModel

@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Register</title>
</head>
<body>

    <!-- Register START -->
    <section class="loginPage">
        <div class="formBox">

            <form method="post" asp-route-returnUrl="@Model.ReturnUrl" asp-action="register" asp-controller="account" autocomplete="off">

                <h2>Login</h2>

                <div class="inputBox">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="fullname" required>
                    <label for="fullname">Fullname</label>
                </div>

                <div class="inputBox">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" name="Email" required>
                    <label for="email">Email</label>
                </div>

                <div class="inputBox">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="Password" required>
                    <label for="password">Password</label>
                </div>

                <div class="inputBox">
                    <i class="fa-solid fa-lock"></i>
                    <input type="Password" name="ConfirmPassword" required>
                    <label for="ConfirmPassword">ConfirmPassword</label>
                </div>

                <button type="submit">Register</button>

            </form>

        </div>
    </section>
    <!-- Register END -->

</body>
</html>